.DS_Store
AGENTS.md
/borg
/borgmatic/.env
/cagent
/configstore
/filezilla
/gcloud
/gh
/git
/github-copilot
/medusa
/neofetch
/nnn
!/nvim/
/nvim/*
!/nvim/lua/
/nvim/lua/*
!/nvim/lua/custom/
/nvim/plugin
/pdfium-convert
/raycast
/sanity
/stripe
/tmux/plugins
/yarn
/zsh
